body{

background:#202225;
color:white;
font-family:Arial;
margin:30px;

}

.cards{

display:flex;
gap:20px;

}

.card{

background:#2f3136;
padding:20px;
border-radius:8px;
width:180px;
text-align:center;

}

.server{

background:#2f3136;
padding:15px;
margin-top:10px;
border-radius:8px;

}

.log{

background:#36393f;
padding:10px;
margin-top:5px;
border-radius:5px;

}

.player{

margin-left:20px;
color:#8be9fd;

}
